# Variables in Python

### Variables
Variables are containers for storing data values.

### Creating Variables

Python has no command for declaring a variable. 

A variable is created the moment you first assign a value to it.

Variables do not need to be declared with any particular type, and can even change type after they have been set.

### Variable Names

1. A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). Rules for Python variables:
2. A variable name must start with a letter or the underscore character
3. A variable name cannot start with a number
4. A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
5. Variable names are case-sensitive (age, Age and AGE are three different variables)
6. A variable name cannot be any of the Python keywords.

### Casting

In [11]:
""" If you want to specify the data type of a variable, this can be done with casting. """
x = str(10)    # x will be '10'
y = int(17)    # y will be 17
z = float(21)  # z will be 21.0

### Get the Type

In [14]:
""" You can get the data type of a variable with the type() function. """
x = 99
y = "Hannah"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

### Many Values to Multiple Variables

In [17]:
""" Python allows you to assign values to multiple variables in one line: """
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

### One Value to Multiple Variables

In [20]:
""" you can assign the same value to multiple variables in one line:"""
x = y = z = "Tokyo Drift"
print(x)
print(y)
print(z)

Tokyo Drift
Tokyo Drift
Tokyo Drift

### Unpack a Collection

In [23]:
""" If you have a collection of values in a list, tuple etc. Python allows you to extract the values into variables. This is called unpacking. """
cars = ["BMW", "Ninja", "Thar"]
x, y, z = cars
print(x)
print(y)
print(z)

BMW
Ninja
Thar

### Multi Words Variable Names
Variable names with more than one word can be difficult to read.

There are several techniques you can use to make them more readable:

### Camel Case
Each word, except the first, starts with a capital letter:

In [27]:
myVariableName = "Sairushi"

### Pascal Case
Each word starts with a capital letter:

In [29]:
MyVariableName = "Sairushi"

### Snake Case
Each word is separated by an underscore character:

In [31]:
my_variable_name = "Sairushi"

### Output Variables
The Python print() function is often used to output variables.

In [34]:
x = "Winter is Coming"
print(x)

Winter is Coming

In the print() function, you output multiple variables, separated by a comma:

In [36]:
x = "Winter"
y = "is"
z = "Coming"
print(x, y, z)

Winter is Coming

You can also use the + operator to output multiple variables:

In [38]:
x = "Winter "
y = "is "
z = "Coming"
print(x + y + z)

Winter is Coming

In the print() function, when you try to combine a string and a number with the + operator, Python will give you an error.

The best way to output multiple variables in the print() function is to separate them with commas, which even support different data types:

In [41]:
x = 21
y = " My age is "
print(y, x)

 My age is  21

### Global Variables
Variables that are created outside of a function (as in all of the examples in the previous ) are known as ***global variables***.

Global variables can be used by everyone, both inside of functions and outside.

In [44]:
x = "Python"      # global variable
def myfun():
    print( x + " is Amazing")

myfun()

Python is Amazing

If you create a variable with the same name inside a function, this variable will be local, and can only be used inside the function. The global variable with the same name will remain as it was, global and with the original value.

In [46]:
x = "Amazing"

In [47]:
def myfunc():
  x = "fantastic"     # Here this is a local variable which is inside a fun and can be used inside the function only.
  print("Python is " + x)

myfunc()

Python is fantastic

In [48]:
print("Python is " + x)

Python is Amazing

### The global Keyword
Normally, when you create a variable inside a function, that variable is local, and can only be used inside that function.

To create a global variable inside a function, you can use the global keyword.

In [50]:
def myfunc():
  global x   # makes var x global
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [51]:
x = "amazing"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [53]:
first_name='Sairushi'
middle_name='Nanasaheb'
last_name='Gadakh'
age=21
is_married=False
skills = ['Python', 'R', 'SQL', 'Excel', 'Azure']
country='India'
city='Sangamner'

In [54]:
person_info = {
    'firstname':'Sairushi', 
    'lastname':'Gadakh', 
    'country':'India',
    'city':'Sangamner'
    }

###  Printing the values stored in the variables

In [56]:
print(person_info)

{'firstname': 'Sairushi', 'lastname': 'Gadakh', 'country': 'India', 'city': 'Sangamner'}

In [57]:
print('First name:', first_name)

First name: Sairushi

In [58]:
print('First name length:', len(first_name))

First name length: 8

In [59]:
print('Last name: ', last_name)

Last name:  Gadakh

In [60]:
print('Last name length: ', len(last_name))

Last name length:  6

In [61]:
print('Country: ', country)

Country:  India

In [62]:
print('City: ', city)

City:  Sangamner

In [63]:
print('Age: ', age)

Age:  21

In [64]:
print('Married: ', is_married)

Married:  False

In [65]:
print('Skills: ', skills)

Skills:  ['Python', 'R', 'SQL', 'Excel', 'Azure']

In [66]:
print('Person information: ', person_info)

Person information:  {'firstname': 'Sairushi', 'lastname': 'Gadakh', 'country': 'India', 'city': 'Sangamner'}

### Declaring Multiple variables in one line

In [69]:
first_name,last_name,country,age,is_married='Sairushi','Gadakh','India',21,False

In [70]:
print(first_name, last_name, country, age, is_married)
print('First name:', first_name)
print('Last name: ', last_name)
print('Country: ', country)
print('Age: ', age)
print('Married: ', is_married)

Sairushi Gadakh India 21 False
First name: Sairushi
Last name:  Gadakh
Country:  India
Age:  21
Married:  False

### Comments
Comments can be used to explain Python code.

Comments can be used to make the code more readable.

Comments can be used to prevent execution when testing code.

#### Creating a Comment
Comments starts with a #, and Python will ignore them

In [74]:
# This is a comment

A comment does not have to be text that explains the code, it can also be used to prevent Python from executing code

In [76]:
# print("This is awesome")
print("I am doing great")

I am doing great

#### Multiline Comments
Python does not really have a syntax for multiline comments.

To add a multiline comment you could insert a # for each line

In [78]:
#This is a comment
#written in
#more than just one line

Or, not quite as intended, you can use a multiline string.

Since Python will ignore string literals that are not assigned to a variable, you can add a multiline string (triple quotes) in your code, and place your comment inside it.

In [80]:
"""
This is a comment
written in
more than just one line
"""

'\nThis is a comment\nwritten in\nmore than just one line\n'

As long as the string is not assigned to a variable, Python will read the code, but then ignore it, and you have made a multiline comment.